body{
  background-color: #dd6e7f
}

table,th,td{
border:2px solid #4f000b;
}
th{
background-color:#fb916a;
color:#000000;
}

tr{
background-color:#f9a467;
color:black;
}

[href="https://replit.com/@SaraiSantiago3/CSSLEVELONE#index.html:8:9"]{
color: black;
}

h1{
  color: #4f000b
}

h1{
  border-style: dotted;
  border-width: 5px;
}

p{
  color: #2c0216;
  font-family: 'Indie Flower', cursive;
}
